<html lang="en">
  <head>
    {{> standard_headers}}
    {{!-- <link type="text/css" rel='stylesheet' href="auth-layout.css" /> --}}
  </head>
  <body>

    <div class="mt-10 mx-auto sm:w-full sm:max-w-[480px]">
      {{{body}}}
    </div>
    {{!-- {{> ory_branding}} --}}

    {{> scripts }}

  </body>
</html>
